[submodule "ExternalLib/STB"]
	path = ExternalLib/STB
	url = git@github.com:nothings/stb.git
[submodule "ExternalLib/IMGUI"]
	path = ExternalLib/IMGUI
	url = git@github.com:ocornut/imgui.git
[submodule "ExternalLib/GLM"]
	path = ExternalLib/GLM
	url = git@github.com:g-truc/glm.git
[submodule "ExternalLib/TOL"]
	path = ExternalLib/TOL
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "ExternalLib/GLFW"]
	path = ExternalLib/GLFW
	url = https://github.com/glfw/glfw
[submodule "ExternalLib/GLEW"]
	path = ExternalLib/GLEW
	url = https://github.com/Perlmint/glew-cmake
