[submodule "ExternalLib/TOL"]
	path = ExternalLib/TOL
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "ExternalLib/STB"]
	path = ExternalLib/STB
	url = git@github.com:nothings/stb.git
[submodule "ExternalLib/IMGUI"]
	path = ExternalLib/IMGUI
	url = git@github.com:ocornut/imgui.git
[submodule "ExternalLib/GLM"]
	path = ExternalLib/GLM
	url = git@github.com:g-truc/glm.git
